# Task 2 = Data Types of Data Science Internship with Innomatics Research Labs
### Name = Achal Mate

### Task1 = List Comprehensions

In [1]:
if __name__ == '__main__':
    x, y, z, n = (int(input()) for _ in range(4))
    print ([[a,b,c] for a in range(0,x+1) for b in range(0,y+1) for c in range(0,z+1) if a + b + c != n ])

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

### Task 2=Find the Runner-Up Score!

In [8]:
n = int(input())
arr = list(map(int, input().split()))

strdemo = list(set(arr))
strdemo.sort()
sl = len(strdemo)-2
print(strdemo[sl])

5
3 5 6 5 2
5

### Task 3 = Nested Lists

In [9]:
if __name__ == '__main__':
    d={} #1
    for _ in range(int(input())): 
        Name=input() 
        Grade=float(input())
        d[Name]=Grade 
    v=d.values()
    second=sorted(list(set(v)))[1] 
    second_lowest=[] 
    for key,value in d.items(): 
        if value==second: 
            second_lowest.append(key) 
    second_lowest.sort() 
    print("Name of Students having second lowest grade")
    for name in second_lowest:
        print(name)

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Name of Students having second lowest grade
Berry
Harry

### Task 4=Finding the percentage

In [10]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    query_scores = student_marks[query_name]
    percentage = sum(query_scores)/(len(query_scores))

    print("{0:.2f}".format(percentage))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

### Task 5 = Lists

In [13]:
if __name__ == '__main__':
    N = int(input())
    arr = []
    for x in range(N):
        comand = input()
        comand = comand.split()
        if comand[0] == "insert":
            n1 = int(comand[1])
            n2 = int(comand[2])
            arr.insert(n1,n2)
        elif comand[0] == "print":
            print(arr)
        elif comand[0] == "remove":
            n1 = int(comand[1])
            arr.remove(n1)
        elif comand[0] == "append":
            n1 = int(comand[1])
            arr.append(n1)
        elif comand[0] == "sort":
            arr.sort()
        elif comand[0] == "pop":
            arr.pop()
        elif comand[0] == "reverse":
            arr.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

### Task 6 =Tuples

In [21]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    print(hash(tuple(integer_list)))

2
3 4
1079245023883434373

### Task 7 = Introduction to Sets

In [14]:
def average(array):
    # your code goes here
    return sum(set(array)) / len(set(array))
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

### Task 8 =No Idea!

In [12]:
n, m = input().split()
sc_ar = input().split()

A = set(input().split())
B = set(input().split())

happiness = 0
for i in sc_ar:
    if i in A:
        happiness = happiness+1
    if i in B:
        happiness = happiness-1
print(happiness)

3 2
1 5 3
3 1
5 7
1

### Task 9 = Symmetric Difference

In [1]:
n = int(input())
N =  set(map(int,input().split()))
m =  int(input())
M=  set(map(int,input().split()))

ans =sorted(list(N.symmetric_difference(M)))
for i in ans:
    print(i)

4
2 4 5 7
4
2 4 10 12
5
7
10
12

### Task 10 = Set .add()

In [2]:
n = int(input())
N = set()
for i in range(n):
    N.add(input())


print(len(N))

7
UK
China
USA
France
New Zealand
UK
France
5

### Task 11 = Set .discard(), .remove() & .pop()

In [3]:
n = int(input())
s = set(map(int, input().split()))
num = int(input())
for i in range(num):
    comand = input()
    comand = comand.split()
    if comand[0] == "discard":
        n1 = int(comand[1])
        s.discard(n1)
    elif comand[0] == "pop":
        s.pop()
    elif comand[0] == "remove":
        n1 = int(comand[1])
        s.remove(n1)
    
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

### Task 12 = Set .union() Operation

In [4]:
n = int(input())
N = set(map(int, input().split()))
m = int(input())
M = set(map(int, input().split()))

ans = N.union(M)
print(len(ans))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

### Task 13 = Set .intersection() Operation

In [5]:
n = int(input())
N = set(map(int, input().split()))
m = int(input())
M = set(map(int, input().split()))

ans = N.intersection(M)
print(len(ans))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

### Task 14 = Set .difference() Operation

In [6]:
n = int(input())
N = set(map(int, input().split()))
m = int(input())
M = set(map(int, input().split()))

ans = N.difference(M)
print(len(ans))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

### Task 15 = Set .symmetric_difference() Operation

In [7]:
n = int(input())
N = set(map(int, input().split()))
m = int(input())
M = set(map(int, input().split()))

ans = N.symmetric_difference(M)
print(len(ans))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

###  Task 16 =Set Mutations

In [8]:
n = int(input())
s1 = set(map(int, input().split()))
num = int(input())
for i in range(num):
    comand, _ = input().split()
    s2 = set(map(int, input().split()))
    if(comand == "intersection_update"):
        s1.intersection_update(s2)
    elif(comand == "update"):
        s1.update(s2)
    elif(comand == "symmetric_difference_update"):
        s1.symmetric_difference_update(s2)
    elif(comand == "difference_update"):
        s1.difference_update(s2)

print(sum(s1))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

### Task 17 = The Captain's Room

In [9]:
k= int(input())
rooms =list(map(int, input().split()))
room = list(rooms)
# l = map(int, raw_input().split())
for value in room:
    check = room.count(value)
    if check == 1:
        print(value)

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

### Task 18 = Check Subset

In [12]:
n = int(input())
result = []
for i in range(n):
    m1 = int(input())
    S1 = set(map(int,input().split()))
    m2 = int(input())
    S2 = set(map(int,input().split()))
    if S1.issubset(S2): 
        result.append(True)
    else:
        result.append(False)
            
for i in result:
    print(i)

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
1
2
5
3 6 5 4 1
7
1 2 3 5 6 8 9
3
9 8 2
True
False
False

### Task 19 =Check Strict Superset

In [13]:
s1 = set(input().split())
N = int(input())
output = True

for i in range(N):
    s2 = set(input().split())
    if not s2.issubset(s1):
        output = False
    if len(s2) >= len(s1):
        output = False

print(output)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False